{% extends "base.html" %}
{% block title %}All Courses{% endblock %}

{% block heading %}
    All Courses
{% endblock %}
{% block content %}
  <body>
    <table>
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Students Enrolled</th>
            <th>Add/Drop Course</th>
          </tr>
        </thead>
        <tbody>
          {% for course in allCourses %}
            <tr>
              <td>{{ course.course_name }}</td>
              <td>{{ course.course_teacher }}</td>
              <td>{{ course.course_time }}</td>
              <td>{{ course.students_enrolled }}/{{ course.capacity }}</td>
              <td>
                {% if course.course_id in user %}
                    <form action="/remove_course" method="post">
                    <input type="hidden" name="course_id" value="{{ course.course_id }}">
                    <button type="submit" class="add-course-btn">Remove Course</button>
                    </form>
                {% else %}
                  {% if course.students_enrolled == course.capacity %}
                    <form action="/add_course" method="post">
                      <input type="hidden" name="course_id" value="{{ course.course_id }}">
                      <button type="submit" class="add-course-btn" disabled>Add Course</button>
                      </form>
                    {% else %}
                    <form action="/add_course" method="post">
                    <input type="hidden" name="course_id" value="{{ course.course_id }}">
                    <button type="submit" class="add-course-btn">Add Course</button>
                    </form>
                {% endif %}
              {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{ url_for('enrolled_courses') }}">View Enrolled Courses</a>
  </body>
  {% endblock %}
</html>
