{% extends "base.html" %}
{% block title %}Enrolled Courses{% endblock %}

{% block heading %}
    Enrolled Courses
{% endblock %}
{% block content %}
  <body>
    <table>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Teacher</th>
          <th>Time</th>
          <th>Students Enrolled</th>
        </tr>
      </thead>
      <tbody>
        {% for course in allCourses %}
        <tr>
          <td>{{ course.course_name }}</td>
          <td>{{ course.course_teacher }}</td>
          <td>{{ course.course_time }}</td>
          <td>{{ course.students_enrolled }}/{{ course.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('studentUser') }}">View all Courses</a>
  </body>
  {% endblock %}
</html>