{% extends "base.html" %}
{% block title %}Enrollment App{% endblock %}

{% block heading %}
    Enrollment App
{% endblock %}
{% block content %}
  {% if UID == 0 %}
    <a href="{{ url_for('studentUser') }}">View all Courses</a><br>
    <a href="{{ url_for('enrolled_courses') }}">View Enrolled Courses</a>
  {% elif UID == 1 %}
    <a href="{{ url_for('teacher') }}">View Your Courses</a>
  {% elif UID == 2 %}
    <a href="{{'/admin'}}">Go To Admin Page</a>
  {% else %}
    <h1>Welcome</h1>  
  {% endif %}
  {% endblock %}