<!-- Template to test view of student schedule/courses-->
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div >
            <table>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Enrolled</th>
                        <th>Capacity</th>
                    </tr>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{course.course_name}}</td>
                        <td>{{course.course_teacher}}</td>
                        <td>{{course.course_time}}</td>
                        <td>{{course.enrolled}}</td>
                        <td>{{course.capacity}}</td>
                    </tr>
                    {% endfor %}</tbody>
            </table><br>


        </div>
    </body>
</html>