<head>
    <link rel="stylesheet" href="static/style.css">
</head>
{% block content %}
    <h1>Courses You Teach</h1>
    {% if courses %}
        <table>
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_teacher }}</td>
                <td>{{ course.course_time }}</td>
                <td>{{ course.students_enrolled }}/{{ course.capacity }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You are not currently teaching any courses.</p>
    {% endif %}
{% endblock %}