<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/WebsiteStyleControl.css">
        <title>Teacher Login</title>
    </head>
    <body>
        <h1 class="texttitle"> University Login</h1><br>
        <h2 class="texttitle"> Teacher Portal</h2><br>
        <div class="form-container">
            <form action="/login" method="post">
                <label for="teacherlogin">Username</label>
                <input type="text" id="teacherlogin" name="username"><br><br>
                <label for="loginpass">Password</label>
                <input type="password" id="loginpass" name="password"><br><br>
                <button type="submit">Sign in</button><br><br>
            </form>
            <a href="login.html">Student Login</a>
        </div>
        
    </body>
</html>